body {
    background-color: #ffffff; font-family: "Futura Std"; letter-spacing: 0.15rem;
}

header {
    position: fixed;
        left: 1.5rem;
        right: 1.5rem;
        top: 1rem;
        font-family: "Futura Std", sans-serif;
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(3rem);
        -webkit-backdrop-filter: blur(2.5rem);
        border: 0.5px solid rgba(255, 255, 255, 0.3);
        border-radius: 2rem;
        z-index: 10;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
        transition:
            background 0.5s ease,
            top 0.7s ease,
            left 0.7s ease,
            right 0.7s ease,
            border-radius 0.7s ease,
            box-shadow 0.7s ease;
}

header.scrolled {
        color: rgb(166, 97, 29);
        top: 0;
        left: 0;
        right: 0;
        background: rgba(255, 255, 255, 1);
        
        border-radius: 0 0 1.5rem 1.5rem;
        box-shadow:
                0 10px 30px rgba(0, 0, 0, 0.0.8),
                0 4px 10px rgba(0, 0, 0, 0.08);
}

header.scrolled .logo a {
    color: rgb(154, 185, 174);
}

.logo {
    letter-spacing: 0.15rem;
}

.logo a {
    text-decoration: none; color: rgb(101, 101, 101); 
}

.content {
    position: relative;
    min-height: 100vh;
    overflow: hidden;
    font-family: "Futura Std", sans-serif;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg {
    position: absolute;
    inset: 0;
    background-image: url(source/Cypresses.jpg);
    background-size: cover;
    background-position: center;
    will-change: transform;
    z-index: -1;
}

.meet {
    display: flex;
        justify-content: center;
        align-items: center;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); color: #ffffff;
}

.content2 {
    position: relative; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); background-color: rgb(255, 255, 255);
}

.pinklao {
    position: absolute;
    top: 50%;
    transform: translateY(-35%);
}

.pinklao img {
    height: auto; width: 100vw;
}