body {
    background-color: #ffffff; font-family: "Futura Std"; letter-spacing: 0.15rem;
}

header {
    font-family: "Futura Std", sans-serif; background-color: rgb(255, 255, 255); position: fixed; box-shadow: rgb(0, 0, 0);
    width: 100%; z-index: 1;

}

.logo {
    letter-spacing: 0.15rem;
}

.logo a {
    text-decoration: none; color: rgb(0, 0, 0);
}

.content {
    position: relative;
    min-height: 100vh;
    overflow: hidden;
    font-family: "Futura Std", sans-serif;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg {
    position: absolute;
    inset: 0;
    background-image: url(source/monet.webp);
    background-size: cover;
    background-position: center;
    will-change: transform;
    z-index: -1;
}

.meet {
    display: flex;
        justify-content: center;
        align-items: center;
}

.content2 {
    position: relative;
}

.pinklao {
    position: absolute;
    top: 50%;
    transform: translateY(-35%);
}

.pinklao img {
    height: auto; width: 100vw;
}