body {
    background-color: antiquewhite;
}

header {
    font-family: "Futura Std", sans-serif; background-color: rgb(255, 255, 255); position: relative; box-shadow: rgb(0, 0, 0);
}

.logo {
    letter-spacing: 0.15rem;
}

.logo a {
    text-decoration: none; color: rgb(0, 0, 0);
}

.content {
    background-image: url(source/ChatGPT\ Image\ 24\ ม.ค.\ 2569\ 07_44_30.png); background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        min-height: 100vh;
}